.env
node_modules/
dist/
.DS_Store
frontend/node_modules/
frontend/dist/
backend/node_modules/
backend/dist/
backend/uploads/*
backend/db/*
ml-service/__pycache__/
ml-service/.venv/
ml-service/model_cache/
*.pyc
*.log
*.log.err
*.tsbuildinfo
!backend/uploads/.gitkeep
!backend/db/.gitkeep
